---
layout: 'default'
title: 'Lecture 01'
weburl: ''
units: []
---

include ../../fragments/slide_mixins

- var images = get_images('bees')

.deck-notes
  .deck-notes-container

.deck-handout
  .deck-handout-container

.deck-container

  mixin title_slide({document:document, images:images})

  section.slide
    .words
      p.middle.center the question
      .notes This module is based on a simple question.
      .notes The question is, 
      .handout \textbf{Question}
        .notes How do humans come to know  about---and to knowingly manipulate---objects, causes, words, numbers, colours, actions and minds?

  section.slide
    img.bkg(src='/img/DSC_AB_8736_bw.JPG')
    .notes At the outset we know nothing, or not very much.  (Like Lucas here.)
    .notes Sometime later we do know some things.
    .notes How does the transition occur?

  section.slide
    .notes Other philosophers have asked questions like this one.
    .words: .container_12: .grid_12
      .kludge
        .step1
          p.handout.show
            span.blur1 ‘... ’tis past doubt, that Men have in their Minds 
            span.noblur several Ideas
            span.blur1 , such as are those expressed by the words, Whiteness, Hardness, ... and others: It is in the first place to be enquired, 
            span.noblur How he comes by them
            span.blur1 ?’
            span.handout \citep[p.\ 104]{Locke:1975qo} 
          p.blur1.right (Locke 1689)
      mixin blur('.blur1')
      .kludge
        .step2.hide
          p.handout.show
            span.blur2 ‘How does it come about that the development of organic behavior into 
            span.noblur controlled inquiry 
            span.blur2 brings about the differentiation and cooperation of 
            span.noblur observational and conceptual operations
            span.blur2 ?’
            span.handout \citep[p.\ 12]{Dewey:1938yp}
          p.blur2.right (Dewey 1938, p. 12)
      mixin show('.step2')
      mixin blur('.blur2')
      .kludge
        .step3.hide  
          p.handout.show
            span.blur3 ‘the fundamental explicandum, is the organism and its propositional attitudes ... 
            span.blur3.unblur3 Cognitive psychologists 
            span.blur3 accept ... the  ... necessity of explaining 
            span.noblur how organisms come to have the attitudes to propositions that they do
            span.blur3 .’
            span.handout \citep[p.\ 198]{Fodor:1975pb}
          p.blur3.right (Fodor 1975, p.\ 198)
      mixin show('.step3')
      mixin blur('.blur3')
      mixin unblur('.unblur3')
      .notes Fodor mentions cognitive psychologists rather than philosophers.  We will need to face up to the question of why philosophers are asking this question about the origins of knowledge, why is isn't just a scientific question.  But that's something for later.




  mixin section({title:'From Myths to Mechanisms', images:images})

  section.slide#myths_to_mechanisms
    .words
      .middle.center 
        p myths
  
  section.slide
    .notes Locke, as you probably know, was an empiricist.  Here's his manifesto.
    .notes (Here I'm contrasting Plato's nativism with Locke's empiricism.)
    .words: .container_12: .grid_12
      p
        span.handout.show ‘Men, barely by the Use of their natural Faculties, may attain to all the Knowledge they have, without the help of any innate Impressions; [...]
      .slide
        .notes This claim about colour isn't relevant yet but we'll return to it later.
        p
          span.handout.ctd.show ‘For I imagine any one will easily grant, That it would be impertinent to suppose, the Ideas of Colours innate in a Creature, to whom God hath given Sight, and a Power to receive them by the Eyes from external Objects’
        p.right (Locke 1975 [1689], p. 48)
        .handout.ctd \citep[p.\ 48]{Locke:1975qo}

  //section.slide
  //  .words: .container_12: .grid_12
  //    p ‘it is the knowledge of necessary and eternal truths that distinguishes us from mere animals and gives us reason and the sciences [...]
  //    p ‘It is also through the knowledge of necessary truths and their abstractions that we rise to reflective acts, which make us think of what is called I, and consider that this or that is within us: and thus, thinking of ourselves, we think of being, of substance [...].
  //    p ‘And these reflective acts furnish the chief objects of our reasonings.’
  //    p.right (Leibniz 1973 [1714], §§29-30)


  section.slide
    .words
      .middle.center 
        p.linethrough1 myths
        p.step2.hide mechanisms
      mixin line-through('.linethrough1')
      mixin show('.step2')
      .notes But why suppose there is any role for philosophers rather than scientists here?




  mixin section({title:'Inbetween mindless behaviour and thought', images:images})


  .handout
    span ‘We have many vocabularies for describing nature when we regard it as 
    span.highlight1 mindless
    span , and we have a mentalistic vocabulary for describing 
    span.highlight1 thought and intentional action
    span ; what we lack is a way of describing 
    span.highlight1 what is in between
    span ’ 
    span \citep[p.\ 11]{Davidson:1999ju}
  mixin davidson_inbetween()
    p
      span ‘if you want to describe what is going on in the head of the child when it has a few words which it utters in appropriate situations, you will fail for lack of the right sort of words of your own.
    p
      span ‘We have many vocabularies for describing nature when we regard it as 
      span.highlight1 mindless
      span , and we have a mentalistic vocabulary for describing 
      span.highlight1 thought and intentional action
      span ; what we lack is a way of describing 
      span.highlight1 what is in between
      span ’
    p.right
      span (Davidson 1999, p. 11)
    mixin invert('.highlight1')

  section.slide
    .photobox-bottom-right
      img.photo-right(src='/img/davidson.gif')
    .words: .container_12: .grid_12
      .notes The question is how humans come to know about objects, words, thoughts and other things.
      .notes In pursuing this question we have to consider minds where the knowledge is neither clearly present nor obviously absent. 
      .notes This is challenging because both commonsense and theoretical tools for describing minds are generally designed for characterising fully developed adults.
      mixin davidson_inbetween()

  //this slide is used twice
  mixin slide_object_permenance(no_steps)
    p When can infants first 
      span.highlight1 know
        span.step4.remove-me  (or represent) 
      span  
      span things about objects they aren't perceiving?
    div(class="#{no_steps ? '' : 'nodim slide'}")
      p.em-above
        span.highlight1 searching
        span : not before 8 months
      p.right (Moore & Meltzoff 2008)
    div(class="#{no_steps ? '' : 'nodim slide'}")
      p.em-above
        span.highlight1 distinguishing
        span  
        span impossible scenes: 5 months or earlier
      p.right (Baillargeon et al 1985)

  section.slide#object_permanence
    .notes The problem of describing 'what is in between' (as Davidson puts it) is nicely illustrated by this question.
    .words: .container_12: .grid_12
      mixin slide_object_permenance()

  section.slide
    .words: .container_12: .grid_12
      img(src='/img/baillargeon_1985_fig1.png')
      p.right source: Baillargeon et al (1985, figure 1)
      .notes These are the test events from Baillargeon's study.
      .notes 'The habituation event was exactly the same as the impossible event, except that the yellow box was absent.' (Baillargeon et al 1985, 200)
  section.slide
    .words: .container_12: .grid_12
      img(src='/img/baillargeon_1985_fig3.png')
      p.right source: Baillargeon et al (1985, figure 3)
    
  section.slide
    .words: .container_12: .grid_12
      mixin slide_object_permenance(true)
      .notes So the problem is that we seem to have conflicting answers to the question: one set of evidence says early, the other late.
      .notes Resolving the apparent conflict requires responding to an instance of Davidson's challenge and finding ways of describing phenomena in between mindless ignorance of unseen objects and adult-like knowledge of objects.  
      .notes In what follows we will repeatedly encounter challenges of this form.
      mixin words-bkg('.highlight1','pink')
      .notes At this point you might object.  The question is about knowledge.  But does either searching or distinguishing really provide evidence of knowing?
      .slide.nodim
        p.em-above talk about objects: much later
        .notes You might insist that only abilities to talk about objects manifest evidence of knowledge.
        .notes It is a good question whether searching or distinguishing manifests knowledge.
        .notes We'll return to this point later.
      mixin unremove('.step4')
      .notes First note that we can duck this hard issue by changing from talk about knowledge to talk about representation.
      .notes Searching and distinguishing certainly seem to show that infants are representing objects they can't see.
      .notes Second note that whether or not the things manifested in searching and distinguishing are knowledge proper, they are surely things that matter for explaining how knowledge is eventually acquired.
  
  section.slide
    .notes So let's return to Davidson's point about what is in between mindless behaviour and thought.
    .words: .container_12: .grid_12
      .kludge
        mixin davidson_inbetween()
      //mixin blur('span:not(.highlight1)')
      .notes The paradox of early permanence provides us with a challenge of exactly this sort.
      .notes At least some of infants' abilities to represent objects they can't see don't involve knowledge or thought proper, but are neither entirely mindless.  They do involve representation of some kind. 

  section.slide
    .notes Hood and colleagues make a related point.
    .words: .container_12: .grid_12
      .middle
        p.handout.show
          span.blur1 ‘there are 
          span.noblur many separable systems of mental representations 
          span.blur1 ... and 
          span.noblur thus many different kinds of knowledge. 
          span.blur1 ... the task ... is to contribute to the enterprise of finding the distinct systems of mental representation and to understand their development and integration’
          span.handout \citep[p.\ 1522]{Hood:2000bf}.
        p.right.blur1 (Hood et al 2000, p.\ 1522)
        mixin blur('.blur1')
        .notes We should be cautious about the inferenc from separable systems to kinds of knowledge.  (Think about modularity.)


  section.slide
    .notes To sum up so far, the question for this course is, How do humans come to know  about---and to knowingly manipulate---objects, causes, words, numbers, colours, actions and minds?
    .notes I've been suggesting we can't answer it simply by appealing to nativism, empiricism or other grand myths.
    .notes Instead we need to focus on the particular mechanisms that are involved in different cases.
    .notes But then you might wonder, What philosophical questions arise here?  Isn't this a narrowly pscyhological---and therefore scientific---issue?
    .notes The answer is no because thinking about how humans come to know things requires us to meet Davidson's challenge, to understand things that are neither mindless nor thought or knowledge but somewhere in between.
    .notes As Hood suggests in the quote I just showed you, this might involve rethinking what knowledge is.
    .words: .container_12: .grid_12
      .middle.center
        p summary

  mixin simple_theory_of_the_mind(no_steps)
    p the simple theory of the mind
    div(class="#{no_steps ? '' : 'nodim slide'}")
      ol
        li.em-above What do minds have in common?  The power of representation.
        li For each possible thought content and thinker, the thinker either has or hasn't a representation with that content.
        li Thinkers' actions are causally explained by their representations.
      .notes What the findings about infants' representations of objects they can't see show is this:
      .notes we must reject the simple theory of the mind.

  section.slide#simple_theory_of_the_mind
    .notes Let me put this another way ...
    .words: .container_12: .grid_12
      mixin simple_theory_of_the_mind()
  
  section.slide
    .notes Recall the apparently contradictory pattern of findings.
    .notes The findings are apparently contradictory only if we accept the simple theory of the mind.
    .words: .container_12: .grid_12
      mixin slide_object_permenance(true)

  section.slide
    .notes So we must reject the simple theory.
    .notes Of course this doesn't follow just from the data I've mentioned so far.
    .notes But in these lectures we'll see the same sort of contradiction coming up in different domains, not just knowledge of objects but also number, colour, agency and others.
    .notes Now it's easy to say that the simple theory of the mind must be rejected.
    .notes But what are we to replace it with?
    .words: .container_12: .grid_12
      mixin simple_theory_of_the_mind(true)



  mixin section({title:'*todo*', images:images})

  section.slide
    .words: .container_12: .grid_12
      p *todo*
      ol
        li What is representation? Dretske  [Not sure where this should go]
        li nb: representation matters for the view about language acquisition.
          span If Fodor on representation then the Bloom private language view looks more plausible.
        li Core knowledge (first breakthrough) [use Spelke on principles of object perception]
        li Social Interaction (second breakthrough)---use the stuff on word learning from Chapter_02



  mixin section({title:'Two Breakthroughs', images:images})

  section.slide
    .words: .container_12
      .grid_5
        p.center core knowledge
      .right-half-white
        .grid_5.prefix_1
          .words
            p.center social interaction




  mixin section({title:'Social Interaction', images:images})

  section.slide
    .words: .container_12: .grid_12
      p Take infant a few weeks away from acquiring her first words. 
      p What does she contribute to her own cognitive development and what do those around her contribute?
      .slide
        p.em-above.nodim Two models:
        ul
          li shipwreck survivor
          li.slide.nodim lab rat
    
  section.slide
    .words: .container_12
      .grid_5
        p shipwreck survivor:
        p.handout.show ‘children learn words through the exercise of reason’ 
          span.handout (\citealp[p.\ 1103]{Bloom:2001ka}; see \citealp{Bloom:2000qz})
        p.right (Bloom 2001, p. 1103)
      .slide
        .right-half-white
          .grid_5.prefix_1
            .words
              .step2 
                p.handout.show ‘Augustine describes the learning of human language as if the child came into a strange country and did not understand the language of the country; that is, as if it already had a language, only not this one.  Or again: as if the child could already think, only not yet speak.’
                .handout.ctd \citep[15--16, §32]{Wittgenstein:1953mm}
                p.right (Wittgenstein 1953, p. 15--16, §32)
                .notes Does the view Wittgenstein is attacking sound like a mere caricature?  Bloom explicitly endorses it, noting that ‘Augustine’s proposal is no longer seen as the goofy idea that it once was’ \citep[p.\ 61]{Bloom:2000qz}.
              .step3.hide
                p.handout.show ‘[t]he child learns this language from the grown-ups by being trained to its use. I am using the word ‘trained’ in a way strictly analogous to that in which we talk of an animal being trained to do certain things. It is done by means of example, reward, punishment, and suchlike’
                .handout.ctd \citep[p.\ 77]{Wittgenstein:1972lj}
                p.right (Wittgenstein 1972, p. 77).
              mixin showremove('.step3','.step2')
              .step4.hide
                p.handout.show ‘the child's early learning of a verbal response depends on society's reinforcement of the response in association with the stimulations that merit the response’
                .handout.ctd (\citeyear[p.\ 82]{Quine:1960fe}; compare \citeyear[pp.\ 28--9]{Quine:1974rd})
                p.right (Quine 1960, p. 82)
              mixin showremove('.step4','.step3')
              .step5.hide
                p.handout.show ‘A child learning to speak is learning habits and associations which are just as much determined by the environment as the habit of expecting dogs to bark and cocks to crow’
                .handout.ctd \citep[p.\ 71]{Russell:1921ww}
                p.right (Russell 1921, p. 71).
              mixin showremove('.step5','.step4')

  section.slide
    .notes Both pictures miss social interaction.
      span On one picture the infant is an outsider who might as well be observing those around her through a telescope.
      span On the other picture the child is a blank to be shaped by those around her.
      span There is no meaningful interaction between the infant and adults around her; or, if there is, it makes no difference to her development.
      span One of two breakthrough discoveries is that infants are equipped for social interaction, as we'll see.
    .words: .container_12: .grid_12
      .middle.center
        p social interaction
  
  section.slide
    .words: .container_12: .grid_12
      .middle.center
        p *TODO* : something about children creating words?





  mixin section({title:'Representation', images:images})
  
  section.slide
    .notes We've been making use of a notion of representation.
    .notes For example, when discussing this study I said it provides evidence that infants represent objects they aren't seeing.
    .notes Before going too much further it would be good to try to say something about this notion.
    .notes First, why do we need representation?
    .notes I think there's a simple reason.  In this study the infants' behaviours are affected by an object which they aren't seeing.
    .notes For this to happen, the object must somehow make its mark.
    .notes It must bruise the infants, for example.
    .notes But since there was no physical contact, the mark can only be psychological.
    .notes To a first approximation, 'representation' is a term for the what happens when an object leaves its mark on you psychologically.
    .words: .container_12: .grid_12
      img(src='/img/baillargeon_1985_fig1.png')
      p.right source: Baillargeon et al (1985, figure 1)
  
  section.slide
    .notes We can improve on this first approximation by invoking a theory of representation ...
    .words: .container_12: .grid_12
      img.handout.show(src='/img/dretske_1988_fig4.1.png')
      .handout.caption source: \citep[p.\ 84, figure 4.1]{Dretske:1988sq}
      p.right (source: Dretske 1988, p. 84 figure 4.1)
      .slide
        p.em-above.handout.show
          span ‘Once C is recruited as a cause of M---and recruited as a cause of M 
          span.italic because of what it indicates about F
          span ---C acquires, thereby, the function of indicating F.  
          span Hence, C comes to represent F.  C acquires its semantics, a genuine meaning, 
          span at the very moment when a component of its natural 
          span meaning (the fact that it indicates F) acquires an explanatory relevance.’  
        .handout.ctd \citep[p.\ 84]{Dretske:1988sq}
        p.right (Dretske 1988, p.\ 84)
        .notes To say that infants represent objects in something Dretske's sense of representation is not to say that they have concepts of objects,
          span nor that they have anything like what Fodor calls a languaue of thought.
          