---
layout: 'deck_unit'
title: "Action"
tags: []
description: "Understanding action."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
standalone: true
---

include ../../../fragments/unit_mixins

+slide
  p ***todo: start with Gergely and Csibra 
  
+slide
  +img_clip('wodward_2001_fig1.png', 'rect(0,1000px,250px,0)')
  p.source Woodward et al 2001, figure 1
  +clip('img:eq(0)','auto')
  .notes.handout 'Six-month-olds and 9-month-olds showed a stronger novelty response (i.e., looked longer) on new-goal trials than on new-path trials (Woodward 1998). That is, like toddlers, young infants selectively attended to and remembered the features of the event that were relevant to the actor’s goal.'
  .notes.handout.ctd \citep[p.\ 153]{woodward:2001_making}

+slide
  .notes What do infants understand of action?  Intention
  p.handout.show ‘to the extent that young infants are limited in this way, their understanding of intentions would be quite different from the mature concept of intentions as inde- pendent of particular actions.’
  p.right Woodward et al 2001, p. 168
  .handout.ctd \citep[p.\ 168]{woodward:2001_making}
  