---
layout: 'deck_unit'
title: "From Segmentation to Permanence"
tags: []
description: "Abilties to represent unperceived objects as persisting are conceptually distinct from abilities to segment objects.  But it appears that a single set of principles might explain both abilities, at least in humans."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

// **todo** idea of this unit is ot use Spelke et al 1995 on continuity as a bridge from segmentation to permanence
// the two things are conceptually distinct but closely related
// eventual conclusion will be that the same principles explain both


+slide_middle
  .notes Although segmentation and permanence are conceptually distinct, they are closely related 
    | because movement is a clue to segmentation and movement sometimes invovles occlusion.
  .notes This becomes evident if we think about one more principle of object perception, the principle of continuity.
  p.center principle of continuity---an object traces exactly one connected path over space and time
  .handout \emph{Principle of continuity}  An object traces exactly one connected path over space and time \citep[p.\ 113]{spelke:1995_spatiotemporal}.  

+slide
  img(src='/img/spelke_1995_fig1.png')
  p.source Spelke et al (1995, figure 1)

+slide
  // *todo* reveal in quarters
  .notes \citet{spelke:1995_spatiotemporal} tested sensitivity to the principle of continuity in 4-month-old infants.
  .notes The infants were habituated to one of two displays.
  img(src='/img/spelke_1995_fig2.png')
  p.source Spelke et al (1995, figure 2)
  .notes They were then shown one of two test stimuli.
  .notes The measure was the degree of dishabituation as measured by looking time.

+slide
  // *todo* reveal in halves
  .notes What's beautiful about these results is that the two groups show opposite patterns of dishabituation.
  img(src='/img/spelke_1995_fig3.png',height='500px')
  p.source Spelke et al (1995, figure 3)


+slide_middle
  .notes So the abilities to segment objects and to represent them as persisting are conceptually distinct.
  .notes However it may be that knowledge of a single set of principles underlies both abilities.
  .notes This is one of Spelke's brilliant insights.
  .notes Where does this leave us?
  .notes We still want to know about the status of the principles of object perception.
  .notes But we now the question is more pressing.
  .notes Because the claim that these principles of object perception explain infants' (and adults', and other primates') performance is now harder to reject.
  .notes It's harder to reject because we have converging evidence for the psychological reality of the principles from both segmentation and persistence.
  .notes Before we go any further, let me say a little more about persistence ...
  .container_12
    .grid_6
      p principles of object perception
    .grid_2
      p.stretch-5  {
    .grid_4
      .kludge(style='margin-top:-30px;margin-left:-50px;')
        p segmentation
        p permanence
        p ... (?)

