---
layout: 'deck_unit'
title: "Categorical Perception in Infancy"
tags: []
description: "Categorical perception of colour emerges early in infancy, from around four months or earlier, as has been demonstrated using habituation (Bornstein, Kessen and Weiskopf 1976) and visual search tasks (Franklin, Pilling and Davies 2005)."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


section.slide
  .handout Categorical perception of colour emerges early in infancy.  This has been demonstrated with four-month-olds using habituation \citep{Bornstein:1976of} and visual search \citep{Franklin:2005xk}.   
  .handout Slightly older infants can make use of colour properties such as red and green to recognise objects.  
  .handout For instance, nine-months-olds can determine whether an object they saw earlier is the same as a subsequently presented object on the basis of its colour \citep{Wilcox:2008jk}.  
  .handout By the time they are two years old, toddlers who do not comprehend any colour words can use colour categories implicitly in learning and using proper names; for instance, they are able to learn and use proper names for toy dinosaurs that differ only in colour \citep[][Experiment 3]{Soja:1994np}.  
  .handout So infants and toddlers enjoy categorical perception of colour and may benefit from it in recognising and learning about objects.  
  .handout However children only acquire concepts of, and words for, colours some time later; and colour concepts, like colour words, are acquired gradually \citep{Pitchford:2005hm,Kowalski:2006hk,Sandhofer:1999if,Sandhofer:2006qo}.
  .notes Categorical perception of colour emerges early in infancy, from around four months or earlier, as has been demonstrated using habituation (Bornstein, Kessen and Weiskopf 1976).
  img.bkg(src='/img/slide_cp_63.jpg')
  mixin slides_from_img(['slide_cp_64.jpg','slide_cp_65.jpg','slide_cp_66.jpg','slide_cp_67.jpg','slide_cp_68.jpg'])

section.slide
  .notes Categorical perception has also been demonstrated at four months of age using pop-out (Franklin, Pilling and Davies 2005).
  img.bkg(src='/img/slide_cp_57.jpg')
  mixin slides_from_img(['slide_cp_58.jpg','slide_cp_59.jpg','slide_cp_60.jpg','slide_cp_61.jpg'])

section.slide
  .notes Slightly older infants can also make use of colour properties such as red and green to recognise objects.  For instance, nine-months-olds can determine whether an object they saw earlier is the same as a subsequently presented object on the basis of its colour (Wilcox, Woods and Chapa 2008).  By the time they are two years old, toddlers who do not comprehend any colour terms can use colour categories implicitly in learning and using proper names; for instance, they are able to learn and use proper names for toy dinosaurs that differ only in colour (Soja 1994: Experiment 3).
  .words: .container_12: .grid_12
    p Before children reliably use colour words correctly, categorical perception explains:
    ul
      li habituation -- 4 months
        p.right.grey-text (Bornstein, Kessen and Weiskopf 1976)
      li pop out -- 4 months
        p.right.grey-text (Franklin, Pilling and Davies 2005)
      li re-identifying objects -- 9 months
        p.right.grey-text (Wilcox, Woods and Chapa 2008)
      li learning proper names -- around 2 years
        p.right.grey-text (Soja 1994: Experiment 3)

section.slide
  .notes Our overall question is about how humans come to know things about colours.
  .notes How is categorical perception of colour relevant to this question?
  .notes Harnad offers a natural hypothesis.
  .handout \subsection{Building Blocks?}
  .words
    .middle
      p.center.handout.show Categorical perception provides ‘the building blocks—the elementary units—for higher-order categories’ 
      .handout.ctd \citep[p.\ 3]{Harnad:1987ej}.
      p.right (Harnad 1987, p. 3).

section.slide
  .handout \subsection{Other cases}
  .handout infants enjoy categorical perception not only of colour but also of orientation \citep{franklin:2010_hemispheric}, speech \citep{Kuhl:1987la,Kuhl:2004nv,Jusczyk:1995it} and facial expressions of emotion \citep{Etcoff:1992zd,Kotsoni:2001ph,Campanella:2002aa}.
  .notes This view is especially interesting because infants enjoy categorical perception not only of colour 
    span but also of orientation (Franklin et al. 2010), speech (Kuhl 1987, 2004; Jusczyk 1995) and facial expressions of emotion (Etcoff & Magee 1992; Kotsoni et al. 2001; Campanella et al. 2002).
  .notes Perhaps categorical perception provides ‘building blocks’ for the acquisition of knowleged about these things too.
  // orientation
  img.bkg(src='/img/slide_cp_london_016.jpg')
  // facial expressions of emotion
  mixin slides_from_img(['slide_cp_emotion_01.jpg','slide_cp_emotion_02.jpg','slide_cp_emotion_03.jpg','slide_cp_emotion_04.jpg','slide_cp_emotion_06.jpg','slide_cp_emotion_06.jpg','slide_cp_emotion_07.jpg','slide_cp_emotion_08.jpg','slide_cp_emotion_09.jpg'])
  // speech
  mixin slides_from_img(['slide_cp_london_028.jpg','slide_cp_london_029.jpg','slide_cp_london_030.jpg','slide_cp_london_031.jpg','slide_cp_london_056.jpg','slide_cp_london_057.jpg',])


section.slide
  .notes To recap, infants enjoy categorical perception not only of colour 
    span but also of orientation (Franklin et al. 2010), speech (Kuhl 1987, 2004; Jusczyk 1995) and facial expressions of emotion (Etcoff & Magee 1992; Kotsoni et al. 2001; Campanella et al. 2002).
  .notes This makes Harnad's ‘building blocks’ hypothesis especially interesting.
  .notes But is it true?
  .words
    .container_12: grid_12
      p Infants enjoy categorical perception of
        ul
          li colour
          li orientation
          li facial expressions of emotion
          li speech
      p Does categorical perception provide ‘the 
        span.highlight1 building blocks
        span—the elementary units—for higher-order categories’? 
      p.right (as Harnad 1987, p. 3 claims)
      mixin invert('.highlight1')
      .notes The first problem is to understand the ‘building blocks’ metaphor.

//building blocks first try
section.slide#building_blocks_view_1
  .notes Here's a first attempt to understand the ‘building blocks’ metaphor.
  .notes Let's suppose that categorical perception of colour amounts to having colour concepts.
  .notes This way of thinking concords with Leslie's view about modular cognition.
  .words
    .container_12: grid_12
      p View 1 : Having categorical perception of colour (or X) amounts to having colour (or X) concepts.
      .slide
        p.em-above.handout.show ‘The 
          span.highlight1 module
          span   … automatically provides a conceptual identification of its input for central thought … in exactly the right format for inferential processes’ 
        .handout.ctd \citep[pp.\ 193--4]{Leslie:1988ct}
        p.right (Leslie 1988: 193-4)
        mixin invert('.highlight1')
        .notes We'll say something about what modules are later---for now, just be aware that categorical perception counts as a modular process.
      .slide
        p.em-above Is this right?

section.slide
  .notes It can't be right that having categorical perception of colour (or X) amounts to having colour (or X) concepts.
  .notes We know this can't be right because there is a gap of two or more years between categorical perception of colour and possession of colour concepts.
  .notes For consider what is involved in having a colour concept.
  .notes It is not just responding differently to red things than to green things (say).
  .notes It also requires 
  .words
    .container_12
      .grid_6
        .space-invader.move-left-after(style="margin-left:120px; margin-top:60px; margin-bottom:110px;")
      .grid_6
        .slide
          div(style="float:left; margin-right: 20px")
            mixin colour-box('red', 100)
          div(style="float:left; margin-right: 20px")
            mixin colour-box('green', 100)
          .slide
            p.em-above.center Which one of these is like the toy I just put away?
    .container_12: .grid_12
      p &nbsp;
      .slide
        img(src='/img/kowalski_2006_fig3.png')
      p.right Source: Kowalski and Zimiles (2006, Experiment 2)
      
      
section.slide
  .notes Kowalski and Zimiles' paradigm provides an excellent operationalisation of concept possession.
  .notes We should hold in mind the idea that having a concept of something involves being able to think abstractly about that thing.
  .words: .middle
    p.center methodological aside

section.slide
  .notes But for now Kowalski_and_Zimiles are important because they show that having categorical perception of colour is not the same thing as having colour concepts.
  .words: .middle
    p.center.handout.show ‘the course of acquisition for color is protracted and errorful’
    .handout.ctd \citep{Sandhofer:2006qo}
    p.right (Sandhofer and Thom 2006)
    
    
section.slide.anim-continue
  mixin recall('#building_blocks_view_1')
section.slide
  .notes So the first view can't be right.
  .notes It can't be right that having categorical perception of colour (or X) amounts to having colour (or X) concepts.
  .notes And the same applies in other cases of categorical perception as well.
  .notes How else might we understand the ‘building blocks’ metaphor?
  .words: .middle
    p.center(style='-webkit-transform:rotate(-15deg);')
      span.bkg-pink(style='font-size:200px;opacity:.7;').invert NO
  section.slide.anim-continue
      mixin unrecall('#building_blocks_view_1')


section.slide#building_blocks_view_2
  .notes Consider Mandler's claim that 
    span ‘the earliest conceptual functioning consists of a redescription of perceptual structure’ 
    p.right Mandler (1992)
  .words
    .container_12: grid_12
      p View 2 : redescription
      p.em-above.handout.show ‘the earliest conceptual functioning consists of a 
        span.highlight1 redescription
        span   of perceptual structure’ 
      .handout.ctd \citep{Mandler:1992vn}
      p.right (Mandler 1992)
      mixin invert('.highlight1')
      .notes One worry here is that we've replaced one metaphor with another, ‘redescription’ for ‘building block’.
      .notes But let's put this aside for a moment in order to reflect on why Mandler is wrong.
      p.slide.em-above Is this right?


section.slide
  .notes The boundaries of adults' perceptual categories do not match the boundaries of infant and toddler perceptual categories.
  .notes How do we know?
  .notes Because the boundaries of adults' (but not infants') perceptual categories are influenced by the extensions of their culturally variable colour terms.
  .notes For evidence that adults' perceptual colour categories are influenced by their culturally variable knowledge of colour words, see \citet{Kay:2006ly}, \citet{Roberson:2007wg}, and \citet{Winawer:2007im}; 
    span .notes for evidence that toddlers who know some colour words show no influence of language on categorical perception of colours, see \citet{Franklin:2005hp}. 
  .words: .container_12: .grid_12
    p The extensions of colour terms vary between languages.
    p (E.g. Russian colour terms include ‘goluboy’ (for lighter blues) and ‘siniy’ (for darker blues).)
    .slide
      p.em-above In monolingual adults, the perceptual categories match the extensions of the colour terms in their language.
      p.right.grey-text (Robertson and Hanley (2007); Winawer et al (2007))
    .slide
      p.em-above Infants’ and toddlers’ perceptual categories are not influenced by the extensions of colour terms.
      p.right.grey-text (Franklin et al 2005)
    .slide
      p Therefore:
      p Infants’ perceptual categories do not match adults’ concepts.

section.slide
  .notes The extensions of colour terms vary quite radically between languages.
  .notes Ongoing research concerns whether there is any kind of universal prinicple behind the pattern.
  .words
    p.center English
    img(src='/img/colour_terms_english.png')
    p.right source: Roberson & Hanley 2010, Figure 1c
section.slide
  .words
    p.center Berinmo
    img(src='/img/colour_terms_berinmo.png')
    p.right source: Roberson & Hanley 2010, Figure 1b


section.slide.anim-continue
  mixin recall('#building_blocks_view_2')
section.slide
  .notes So the second view probably isn't right either.
  .notes For whatever redescription amounts to, it should surely involve there being some kind of match between the perceptual categories and the concepts.
  .notes And, on the face of, it there is no match at all.
  .words: .middle
    p.center(style='-webkit-transform:rotate(-15deg);')
      span.bkg-pink(style='font-size:200px;opacity:.4;').invert no?
  section.slide.anim-continue
      mixin unrecall('#building_blocks_view_2')


section.slide
  .notes.handout There is evidence that the infant mode of categorical perception of colour continues to operate in adults, although it is often inhibited or overshadowed by the adult mode \citep{Gilbert:2006yb}. 
  .words: .middle
    p.center Adult and infant categorical perception co-exists.
    p.right.grey-text (Gilbert et al 2006; Gilbert et al 2008)

section.slide
  .notes The adult mode of categorical perception of colour differs from the infant-and-toddler mode in at least four respects: it disappears in the face of predictable verbal interference but not non-verbal interference (Roberson, Davies and Davidoff 2000: 985; Pilling, Wiggett, et al. 2003: 549-50; Wiggett and Davies 2008), it can be affected by short-term perceptual learning (Ozgen and Davies 2002), it depends on parts of the brain other than those on which infants' categorical perception of colour depends (Franklin, Drivonikou, et al. 2008), and the boundaries of adults' perceptual categories do not match the boundaries of infant and toddler perceptual categories.
  .words
    .container_12
      .grid_6
        div(style='padding-right:20px;')
          ul
            li culture
            li training colour terms (2 days)
            li
              span.highlight1 verbal interference
            li right visual field (RVF) only
            li training affects RVF only
            li neural correlates
      mixin words-bkg('.highlight1','pink')
      .slide
        .notes Why say that impact of verbal interference plus shaping of perceptual categories by extensions of words gives an interesting sense in which we have expeirences as of red because we label perceived objects 'red'?  Two points: long-term, the extentions of perceptual category is influenced by the extension of the word; short-term, covert labelling primes the perceptual category and without this priming you do not have CP (Wiggett and Davies 2008).  
        .right-half-white
          .words
            .grid_6
              div(style='padding-right:20px;padding-left:20px;')
                  p.handout.show ‘surprising it would be indeed if I have a perceptual experience as of red because I call the perceived object ‘red’’ 
                  .handout.ctd \citep[pp.\ 324--5]{Stokes:2006fd}
                  p.right.grey-text (Stokes 2006: 324-5).
              .slide
                div(style='padding-right:20px;padding-left:20px;')
                  p.em-above.handout.show conscious attention ‘is more primitive than ... conceptual thought, and ... explains your capacity for conceptual thought by providing you with knowledge of reference’
                  .handout.ctd \citep[p.\ 3]{Campbell:2002ge}
                  p.right.grey-text (Campbell 2002, p. 3)


section.slide
  .notes Our question was ***
  .notes Categorical perception made attractive the idea that ... buildling blocks ...
  .notes It may be that we have to reject the building blocks idea altogether.
  .notes Does this mean that categorical perception plays no role at all in explaining the emergence of knowledge about colours?
  .notes No, we haven't shown that.  Only that categorical perception alone is not enough; and also that  
    span it is hard to understand exactly how categorical perception plays a role in the emergence of knowledge.
  .words: .middle
    p.center conclusion


section.slide
  .notes ***todo adapt these slides (replace the man with a ball coming out of a barrier and changing colour
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_158.jpg')
  mixin slides_from_img(['slide_cp_london_159.jpg','slide_cp_london_160.jpg','slide_cp_london_161.jpg','slide_cp_london_162.jpg','slide_cp_london_163.jpg','slide_cp_london_164.jpg'])


section.slide
  .notes ***todo move these to Object
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_151.jpg')
  mixin slides_from_img(['slide_cp_london_152.jpg','slide_cp_london_153.jpg','slide_cp_london_154.jpg','slide_cp_london_155.jpg','slide_cp_london_156.jpg','slide_cp_london_157.jpg'])

section.slide
  .notes ***todo move these to Object section
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_180.jpg')
  mixin slides_from_img(['slide_cp_london_181.jpg'])

section.slide
  .notes ***todo move these to Goals or Actions section
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_178.jpg')
  
section.slide
  .notes ***todo move
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_143.jpg')
  mixin slides_from_img(['slide_cp_london_144.jpg','slide_cp_london_145.jpg','slide_cp_london_146.jpg','slide_cp_london_147.jpg','slide_cp_london_148.jpg','slide_cp_london_149.jpg','slide_cp_london_150.jpg',])
  

