---
layout: 'deck_unit'
title: "Core knowledge"
tags: []
description: "What is core knowledge and why do we need it?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

  
section.slide
  .words: .container_12: .grid_12
    .middle
      p.center core knowledge

  //-
    Illustrate with Gergely Csibra on goal directed action?
    Or should it be Spelke on the principles of object perception?
    How are representations of objects acquired?
      Perception of objects rests on knowledge of “four principles—cohesion, boundedness, rigidity, and no action at a distance—that reflect basic constraints on the motions of physical bodies”  (Spelke 1990: 30-1) 
      We acquire representations of unperceived objects by applying the principles to what we see and drawing inferences about which objects there are. 
      So infants who pass violation-of-expectation tasks can:
       formulate rules or hypotheses;
       revise and elaborate these hypotheses; and
       regard events as anomalous or surprising.


  //-
    071
    core knowledge
    - brief characterisation from the rediscovery word document
      - also mention:
        - signature limits,
        - present in infants, persists in adults; present in non-human animals
        - can be overcome
    - core knowledge poses a problem: it ain't knowledge
    - use the Haith quote: “no concept causes more problems in discussions of infant cognition than that of representation.” (Haith 1998)
      - also Dennett don't know what we mean by representation
