---
layout: 'deck_unit'
title: "Pointing"
tags: []
description: "***"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

+slide
  p Adults can use pointing to ...
    ul
      li request
      li inform
      li initiate joint engagement (‘Wow! That!’)
  .notes Tomasello calls the third kind 'declarative'.
  p.em-above Infants point from around 12-months, and point to all of these ends ...

+slide
  .notes Infants point to intiate joint engagement Liszkowski et al 2006.
  p Why do infants point?
  .notes 'Four hypotheses about what infants want when they point were tested. First, on the hypothesis that infants pointed for themselves (see above), E neither attended to the infant nor to the event (Ignore condition). Second, on Moore and D’Entremont’s (2001) hypothesis that infants do not want to direct attention and just want to obtain attention to themselves, E never looked at the event and instead attended to the infant’s face and emoted positively to it (Face condition). Third, on the hypothesis that infants just wanted to direct attention and nothing else, E only attended to the events (Event condition). Fourth, on our hypothesis that infants want to share attention and interest, E responded to an infant’s point by alternating gaze between the event and the infant, emoting positively about it (Joint Attention condition).' \citep{Liszkowski:2007mm}
  
+slide
  p Contrast apes with humans ...
  p.em-above.handout.show ‘there is not a single reliable observation, by any scientist anywhere, of one ape pointing for another’.
  p.right Tomasello 2006, p. 507
  .handout.ctd \citep[p.\ 507]{Tomasello:2010dy}
  .slide
    p.em-above footnote: ‘There is actually one reported incident of a bonobo pointing for conspecifics in the wild (Veà and Sabater-Pi 1998)’
    p.right Tomasello 2006, footnote 1
  .slide
    .handout ‘Although some apes, especially those with extensive human contact, sometimes point imperatively for humans […], 
    p ‘
      span.handout.show no apes point declaratively ever.’
    .handout.ctd \citep[p.\ 510]{Tomasello:2010dy}
    p.right Tomasello 2006, p. 510

+slide
  p Tomasello's question : why don't apes point?
  p.em-above motor issues?
  p.right But they do gesture
  p.em-above understanding action?
  p.right But that are sensitive to facts about the goals of others' actions.
  