---
layout: 'deck_unit'
title: "Conclusions"
tags: []
description: "Our question was, "
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins


+slide_middle
  .handout \textbf{Question}
    .notes How do humans come to know  about---and to knowingly manipulate---objects, causes, words, numbers, colours, actions and minds?
  p.center the question
  .notes Have we made any progress?


+slide_middle
  p.center case-by-case
  .notes If you're wondering what the big idea is, there isn't one.
  .notes I think progress depends on approaching it case by case.
  .notes For instance, we considered the role of language in two cases, knowledge of colour and knowlegde of minds.
  .notes It seems to play quite different roles in these two cases.
  .notes So while it seems plausible that abilities to communicate by language do play a role in explaining the emergence of knowlegde in many domains, it's hard to assign it one role.
  .notes There are themes running across the cases but little in the way of general principles.
  .notes I'm not saying that's a bad thing; that's just how it is.
  
+slide_middle
  p.center What is innate in humans?
  .notes Conclusive evidence is rare, but that's not really an obstacle.
  .notes There's no reason to take radical anti-nativism as our starting point.
  .notes This question has two aspects: (i) what sort of thing; (ii) what particulars in which domains.
  .notes On (i), I like the idea that core knowledge is innate.
  .notes But we should be more careful and say at most that either core knowledge or something capable of priming the acquisition of core knowledge is innate.
  .notes On (ii), we looked at a paradigm case, knowledge of syntax.
  .notes In this case, we used a poverty of stimulus argument.
  .notes While the evidence is less clear in other cases, there is certainly reason to suppose that poverty of stimulus arguments might work for knowledge of colour and knowledge of physical objects.

+slide_middle
  p.center core knowledge


+slide({bkg:'slide_core_knowledge_innate_transitions.jpg'})
  .notes This picture is significantly different from some competitors (but not Carey on number):
  .notes (1) because it shows we aren't done when we've explained the acquisition of core knowledge (contra e.g. Leslie, Baillargeon), and
  .notes (2) because it shows we can't hope to explain the acquisition of knowledge if we ignore core knowledge (contra e.g. Tomasello)

+slide_rh_white
  +left_half
    p core knowledge of
    ul
      li actions
      li syntax (?)
      li minds
      li causal interactions
      li physical objects
      li colours (?)
      li (number)
      li (space)
  +right_half
    p What is core knowledge?
    p How does it relate to knowlegde knowledge?
    p How does it relate to adult cognition?
    p How does it relate to nonhumans' cognition?

+slide_middle
  p.center social interaction

+slide_middle
  p.center core knowledge + social interaction
  .notes I like this picture:
  .notes core knowledge + social interaction  --> abilities to communicate --> knowledge knowledge
  .notes Two problems: (i) lack of evidence; (ii) creativity in acquisition of communication by language is hard to square with the prior absence of knowledge knowledge.

+slide_middle
  p.center development as rediscovery
  
  
+slide_middle
  p.center big idea
  .notes Well, maybe there is a big idea after all.
  .notes (I'm hesitant to mention this because it's not well established and, anyway, you should find your own big idea. But ...)
  .notes Through social interaction you are able to rediscover what is in some sense already encoded in your core knowledge.
  .notes That, anyway, is one idea about how humans come to know about objects, causes, minds and the rest.
