---
layout: 'deck_unit'
title: "Core knowledge"
tags: []
description: "What is core knowledge and why do we need it?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

  
section.slide
  .words: .container_12: .grid_12
    .middle
      p.center core knowledge

  //-
    Illustrate with Gergely Csibra on goal directed action?

  //-
    071
    core knowledge
    - brief characterisation from the rediscovery word document
      - also mention:
        - signature limits,
        - present in infants, persists in adults; present in non-human animals
        - can be overcome
    - core knowledge poses a problem: it ain't knowledge
    - use the Haith quote: “no concept causes more problems in discussions of infant cognition than that of representation.” (Haith 1998)
      - also Dennett don't know what we mean by representation
