---
layout: 'deck_unit'
title: "What Is Core Knowledge? Paradigm cases"
tags: []
description: "We saw that there is a theoretical objection to the very notion of core knowledge (/modular representation).  Here we consider some paradigm cases that can be used to ground the notion."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins



// structure: (1) modularity --- general solution to the problem
// but modularity leaves open why the looking and not the searching (rather than conversely)?
// because searching is purposive in a way that looking is not?  (searching depends on practical reasoning)
// but why does the module affect looking, which seems purposive?
// Scholl & Leslie --- it's implemented by the finst object indices
//    - use: (p. 12: 'These similarities have led to the view that adult attentional mechanisms may underlie infants’ performance on object individuation tasks (Carey & Xu, 2001; Chiang & Wynn, 2000; Leslie et al., 1998; Scholl, 2001; Scholl & Leslie, 1999; Simon, 1997; Wynn & Chiang, 1998).')
// So (i) that's why it affects looking; (ii) the principles aren't represented in the simple sense --- they're how the system works
// Further issue: developmental relation between core knowledge of the principles and the kind of knowledge that will inform acting
// - (a) Spelke/Carey joining together with language
// - (b) reflect on categorical perception: maybe it's development as rediscovery
// *also want to work in Michotte -- second take on physical interactions


// ------------------
// perceptual expectations
// *what is it like to be an infant*
// *TODO* belongs later!!!

+slide
  +img_clip('kellman_1983_fig2.png', 'rect(0px,530px,186px,265px)')
  p.source Michotte et al (1964) via Kellman & Spelke (1983, figure 2)
  .notes There are perceptual expectations.
  .notes Suppose you saw this image.
  .notes The triangle behind the thumb is in some sense perceptually present, even though you can't see it.
  +clip('img','auto')
  .notes But now the thumb comes away and what you see is not the triangle you were expecting.
  .notes Could these perceptual expectations be just a matter of knowledge?
  .notes No, because perceptual expectations are judgement-independent.
  .notes As \citep{kellman:1983_perception} report, Michotte, Thines and Crabbe found that subjects report seeing a single large triangle behind the thumb even when they know that there isn't one there.
  .notes You can cover and reveal the triangles repeatedly, but the expectation will hold firm.
  .notes &nbsp;
  .notes The experience you have when the thumb is removed is like that of infants' in violation-of-expectation tasks.
  .notes This is what it is like to be an infant.

  