---
layout: 'deck_unit'
title: "Syntax: Knowledge or Core Knowledge?"
tags: []
description: "Given that humans, infant and adult, do represent facts concerning the syntax of languages, what grounds are there to deny that these representations are knowledge?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins


+slide_middle
  .notes Given that humans, infant and adult, do represent facts concerning the syntax of languages, what grounds are there to deny that these representations are knowledge?"
  +question_mark
  p.center  Are humans’ representations of syntax knowledge?
  .notes In the previous lecture I answered this question too quickly.  Afterwards someone pointed out that the considerations I had offered are not conclusive.  So I wanted to return to this point briefly.
  .notes Why bother?  I think it matters because (i) the case of syntax is well-understood; (ii) if representations of syntax are not knowledge, the case of syntax provides one possible model for theorising about core knowledge; and (iii) whereas in cases like objects, knowledge knowledge comes relatively early in development (maybe a year or two after core knowledge), in the case of syntax knowledge knowledge typically requires a course in linguistics.
  .notes This last point, (iii), makes it a paradigm case of development by rediscovery.
  .notes [***todo (where?): re-explain development by rediscovery with syntax as the illustration?  Would have to contrast it with other views (see rediscovery doc in researh folder)!]

+slide
  .step1.blur-after
    p Humans can’t usually report any relevant facts about syntax.
    p Reply: maybe they know but don’t know they know.
  .step2.slide.em-above
    p.handout.show ‘It is of the essence of a belief [or knowledge] state that it be at the service of many distinct projects, and that its influence on any project be mediated by other beliefs.’
    .handout.ctd \citep[p.\ 337]{Evans:1981pc}
    p.right Evans 1981, p. 337
  .step3.slide.em-above
    p Humans’ representations concerning syntax are tied to a single project.
    p (One requirement for this is that they exhibit limited accessibility.)
    .notes Earlier I explained limited accessibility in terms of inferential integration with knowledge.  So the two ideas are barely different.
    
+slide_middle
  p.center aside
  .notes Aside: While we're thinking about Evans, it's worth mentioning parallels between his notion of tacit knowledge and the notion of core knowledge.
  .notes Evans' was one of the pioneers here, and his ideas have been pursued by other philosophers, so we can consider research on tacit knowledge to be a resource for understanding the notion of core knowledge.

+slide
  .notes Evans characterisation of tacit knowledge involves two suggestions.
  .step1
    .notes The first suggestion concerns similarities:
    .notes Tacit knowledge is analogous to belief at the level of input and output.
    p.handout.show ‘At the level of output, one who possesses the tacit knowledge that p is disposed to do and think some of the things which one who had the ordinary belief that p would be inclined to do an think (given the same desires).
    p.slide ‘
      span.handout.show.ctd At the level of input, one who possesses the state of tacit knowledge that p will very probably have acquired that state as the result of exposure to usage which supports of confirms … the proposition that p, and hence in circumstances which might well induce in a rational person the ordinary belief that p.’
    p.right (Evans 1981, p. 336)
    .handout.ctd \citep[p.\ 336]{Evans:1981pc}
  +blur('.step1')
  .notes Evans’ second suggestion concerns what distinguishes tacit knowledge from knowledge knowledge.
  .step2.slide.em-above
    .notes Evans’ idea was ‘that while the applicability of the generality constraint is a necessary feature of propositional attitudes, states that are intuitively subdoxastic - particularly states of input systems - are not subject to that constraint.’  \citep[p.\ 146]{Davies:1986qv}
    p The 
      span.generality-constraint generality constraint
      span  applies to knowledge knowledge but not to tacit knowledge.
    .handout ‘(It is one of the fundamental differences between human thought and the information-processing that takes place in our brains that the Generality Constraint applies to the former but not to the latter.  When we attribute to the brain computations whereby it localizes the sounds we hear, we ipso facto ascribe it to representations of the speed of sound and of the distance between the ears, without any commitment to the idea that it should be able to represent the speed of light or the distance between anything else.)’
    .handout.ctd \citep[p.\ 104, footnote 22]{Evans:1982je}
    +invert('.generality-constraint')
    .notes It would take too long to explain the generality constraint here.  If core knowledge matters to your project, I encourage you to read the chapter from Evans' book the Varieties of Reference in which the quote on your handout appears.
    
+slide_middle
  .notes Back from the aside, here's our conclusion.
  p.center  Humans’ representations of syntax aren’t knowledge because they exhibit limited accessbility and are tied to a single project. 
