---
layout: 'deck_unit'
title: "Representing Unseen Objects"
tags: []
description: "Evidence that 4-month-olds can represent objects they aren't currently perceiving."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins



section.slide
  .words
    .middle.center
      p the ‘paradox of early permanence’ again

mixin slide_object_permenance(no_steps)
  p When can infants first 
    span.highlight1 know
      span.step4.remove-me  (or represent) 
    span  
    span things about objects they aren't perceiving?
  div(class="#{no_steps ? '' : 'nodim slide'}")
    p.em-above
      span.highlight1 searching
      span : not before 8 months
    p.right (Moore & Meltzoff 2008)
  div(class="#{no_steps ? '' : 'nodim slide'}")
    p.em-above
      span.highlight1 distinguishing
      span  
      span impossible scenes: 4.5 months or earlier
    p.right (Baillargeon et al 1987)
    
section.slide#object_permanence
  .notes Recall
  .words: .container_12: .grid_12
    mixin slide_object_permenance()

  
section.slide
  .words: .container_12: .grid_12
    p *todo* add examples from Spelke and Hespos 2001 pp 326-7
    p ‘when five-month-old infants observe first a single object that is occluded by a moving screen and then a second object that joins the first behind  he screen, they subsequently look longer when the screen is lowered to reveal one object (an unexpected outcome to adults, but one that is superficially familiar since only one object ever was visible in the scene at any given time) than when it is lowered to reveal two objects (Wynn, 1992)’
    p ‘when 2.5 month-old infants observe an object hidden either inside or behind a container and then see the object again when the container is moved to the side, they react differently depending on how the object is hidden (Hespos and Baillargeon, 2001a).’
    p \citep[pp.\ 326--7]{Spelke:2001pg}
    
    
section.slide
  .words: .container_12: .grid_12
    p *todo* add example of \citep{wang:2004_young}
    p  ‘In two experiments, 4-month-old infants were tested in VOE tasks with test trials only. The infants still gave evidence that they could represent and reason about hidden objects: they were surprised, as indicated by greater attention, when a wide object became fully hidden behind a narrow occluder (Experiment 1) or inside a narrow container (Experiment 2). These and control results demonstrate that young infants can succeed at VOE tasks involving hidden objects even when given no habituation or familiarization trials.’
    
section.slide
  .words: .container_12: .grid_12
    p *todo* include evidence from chicks (bears on nativism --- infants might learn it, but they needn't)
    
    
section.slide
  .words: .container_12: .grid_12
    p *todo* must mention \citep{mccurry:2009_beyond}
    p ‘when task demands are minimal (successful performance requires only a direct reach through the fringe) young infants search reliably for hidden objects.’
