---
layout: 'deck_unit'
title: "Categorical Perception of Colour"
tags: []
description: "Categorical perception is a pervasive and useful feature of human experience much neglected by philosophers despite illuminating psychological research on this topic.  Here we focus on colour.  The aim is initially just to understand what categorical perception is."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


section.slide
  .notes I can't tell you what categorical perception is.
  .notes The operational definitions used in psychology are unrevealling.
  .notes And the ways philosophers define it are wrong or at least depend on unjustified assumptions.
  .words: .container_12
    .grid_6
      p.speech-left Tell me what categorical perception is!
      p.em-above &nbsp;
        p.em-above &nbsp;
      .step3.hide
        p.speech-left(style="width:250px;")  How can we study it without knowing what it is?
    .grid_6
        p.em-above &nbsp;
        p.em-above &nbsp;
        .step2.hide
          p.speech-right(style="height:60px;") I can't.
    mixin steps(3)
    .notes But how can we study it without knowing what it is?
    .notes We have to proceed by seeing what conclusions about it are supported by evidence.
    .notes Then we can work back to infer what it is by asking what it could be if these conclusions are true.
    .notes Put differently, we can start by asking, What is categorical perception commonly taken to explain? 
