---
layout: 'deck_unit'
title: "Social Interaction"
tags: []
description: "Infants have surprisingly sophisticated social skills.  These are revealled in part by their acquisition of language."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


section.slide
  .words: .container_12: .grid_12
    p Take infant a few weeks away from acquiring her first words. 
    p What does she contribute to her own cognitive development and what do those around her contribute?
    .slide
      p.em-above.nodim Two models:
      ul
        li shipwreck survivor
        li.slide.nodim lab rat
  
section.slide
  .words: .container_12
    .grid_5
      p shipwreck survivor:
      p.handout.show ‘children learn words through the exercise of reason’ 
        span.handout (\citealp[p.\ 1103]{Bloom:2001ka}; see \citealp{Bloom:2000qz})
      p.right (Bloom 2001, p. 1103)
    .slide
      .right-half-white
        .grid_5.prefix_1
          .words
            .step2 
              p.handout.show ‘Augustine describes the learning of human language as if the child came into a strange country and did not understand the language of the country; that is, as if it already had a language, only not this one.  Or again: as if the child could already think, only not yet speak.’
              .handout.ctd \citep[15--16, §32]{Wittgenstein:1953mm}
              p.right (Wittgenstein 1953, p. 15--16, §32)
              .notes Does the view Wittgenstein is attacking sound like a mere caricature?  Bloom explicitly endorses it, noting that ‘Augustine’s proposal is no longer seen as the goofy idea that it once was’ \citep[p.\ 61]{Bloom:2000qz}.
            .step3.hide
              p.handout.show ‘[t]he child learns this language from the grown-ups by being trained to its use. I am using the word ‘trained’ in a way strictly analogous to that in which we talk of an animal being trained to do certain things. It is done by means of example, reward, punishment, and suchlike’
              .handout.ctd \citep[p.\ 77]{Wittgenstein:1972lj}
              p.right (Wittgenstein 1972, p. 77).
            mixin showremove('.step3','.step2')
            .step4.hide
              p.handout.show ‘the child's early learning of a verbal response depends on society's reinforcement of the response in association with the stimulations that merit the response’
              .handout.ctd (\citep[p.\ 82]{Quine:1960fe}; compare \citep[pp.\ 28--9]{Quine:1974rd})
              p.right (Quine 1960, p. 82)
            mixin showremove('.step4','.step3')
            .step5.hide
              p.handout.show ‘A child learning to speak is learning habits and associations which are just as much determined by the environment as the habit of expecting dogs to bark and cocks to crow’
              .handout.ctd \citep[p.\ 71]{Russell:1921ww}
              p.right (Russell 1921, p. 71).
            mixin showremove('.step5','.step4')

section.slide
  .notes Both pictures miss social interaction.
    span On one picture the infant is an outsider who might as well be observing those around her through a telescope.
    span On the other picture the child is a blank to be shaped by those around her.
    span There is no meaningful interaction between the infant and adults around her; or, if there is, it makes no difference to her development.
    span One of two breakthrough discoveries is that infants are equipped for social interaction, as we'll see.
  .words: .container_12: .grid_12
    .middle.center
      p social interaction

section.slide
  .words: .container_12: .grid_12
    .middle.center
      p children create words

//- *here: *todo* lexical innovation
