---
layout: 'deck_unit'
title: "Words and Communicative Actions"
tags: []
description: "Here we pause to connect our studies of non-linguistic communication back to linguistic communication.  Reflection on non-linguistic communicative actions (in particular, pointing gestures) makes apparent that understanding a communicative action involves more than identifying which thing it picks out.  This may matter for understanding abilities to communicate by language too."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins


+slide_middle
  p.center  ***todo