---
layout: 'deck_unit'
title: "Causal Interactions"
tags: []
description: "***"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins



// ------------------
// recap and status of principles of object perception
// *what is it like to be an infant*
// *TODO* belongs later!!!

+slide
  .notes How do these principles enable us to discern when one object ends and another begins?
  p Perception of objects rests on knowledge of ‘four principles—cohesion, boundedness, rigidity, and no action at a distance—that reflect basic constraints on the motions of physical bodies’  (Spelke 1990: 30-1)
  p We acquire representations of unperceived objects by applying the principles to what we see and drawing inferences about which objects there are. 
  .slide
    p So infants who pass violation-of-expectation tasks can:
    ul
      li formulate hypotheses;
      li revise and elaborate these hypotheses; and
      li regard events as anomalous or surprising.




// ------------------
// perceptual expectations
// *what is it like to be an infant*
// *TODO* belongs later!!!

+slide
  +img_clip('kellman_1983_fig2.png', 'rect(0px,530px,186px,265px)')
  p.source Michotte et al (1964) via Kellman & Spelke (1983, figure 2)
  .notes There are perceptual expectations.
  .notes Suppose you saw this image.
  .notes The triangle behind the thumb is in some sense perceptually present, even though you can't see it.
  +clip('img','auto')
  .notes But now the thumb comes away and what you see is not the triangle you were expecting.
  .notes Could these perceptual expectations be just a matter of knowledge?
  .notes No, because perceptual expectations are judgement-independent.
  .notes As \citep{kellman:1983_perception} report, Michotte, Thines and Crabbe found that subjects report seeing a single large triangle behind the thumb even when they know that there isn't one there.
  .notes You can cover and reveal the triangles repeatedly, but the expectation will hold firm.
  .notes &nbsp;
  .notes The experience you have when the thumb is removed is like that of infants' in violation-of-expectation tasks.
  .notes This is what it is like to be an infant.

  