---
layout: 'default2'
title: 'Lecture 02'
weburl: ''
units: []
---

include ../../fragments/slide_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})


section.slide
  .notes The question for this course is ...
  .notes We are going to approach this question by examining the evidence from developmental science,
    span exploring how it bears on philosophical positions like nativism and empiricsm,
    span and identifying philosophical problems created by the evidence.
  .notes Our focus is on two breakthrough sets of findings.
  .notes One concerns core knowledge, the other social interaction.
  .notes One problem for us is that these are typically considered in isolation,
    span although I think there are strong reasons to suppose that understanding the origins of knowledge
    span will require thinking about both core knowledge and social interaction.
  .words: .container_12: .grid_12
    .middle
      p.center recap

section.slide
  .notes My working hypothesis is that we can't understand early forms of social interaction without core knowledge;
    span and that we can't understand how core knowledge leads to knowledge proper without social interaction.
  .notes The challenge is to understand how core knowledge and social interaction conspire in the emergence of knowledge.
  .words: .container_12: .grid_12
    .middle
      p.center challenge
  .notes Well, that's the big picture.
  .notes But at this stage in the course I simply want to introduce you to some of the key findings.

section.slide 
  .notes If you've seen the outline of lectures, you'll know that my idea is to organise the lectures by domains of knowledge.
  .words: .container_12
    .grid_3
      p plan
    .slide
      .notes The topics are these.
      .notes I'm not intending to do one lecture per topic.  
      .notes Rather, in most of these lectures I'm planning to talk about two or more topics.
      .notes This risks making things seem fractured.
      .notes But I hope it will make the material easier to absorb and the lectures more interesting.
      .grid_9
        .topics
          p social interaction
          p.today objects and how they interact
          p numbers
          p.today seeing and talking about colours
          p words and other communicative tools
          p actions: teleology and motor awareness
          p minds
        mixin blur_('.topics :not(.today)')
        mixin row-bkg('.today', 'white')


//-
  first something on categorical perception of colour
mixin insert_unit({unit:'111', title_slide:true, images:images})
  
  
//- 
  should every lecture have something on core knowledge and something on social interaction?
  Just a quick skit on this or that finding, e.g. Baldwin?
  
//-
  on core knowledge:
    - first talk about knowledge of syntax
    - principles and parameters
    - poverty of stimulus (quote from Chomsky on Skinner?)
    - not linked to consciousness, not available for introspection, ...
    - Searle's objection
    - defence: respectable notions of representation?  (Shea ideas)
    - how is this a model: it invovles a set of principles being used in an inference-like process
    - compare Spelke on principles of object perception
  
  

//-
  // more on object permanence
  mixin insert_unit({unit:'101', title_slide:true, images:images})


