---
layout: 'default2'
title: 'Lecture 03'
weburl: ''
units: []
---

include ../../fragments/slide_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})


//- objects vs features segmentation, persistence and interaction
+insert_unit({unit:'161', title_slide:false, images:images})

//- Segmentation and the Principles of Object Perception
+insert_unit({unit:'171', title_slide:true, images:images})

//- From Segmentation to Permanence
+insert_unit({unit:'181', title_slide:true, images:images})

//- Permanence
+insert_unit({unit:'191', title_slide:true, images:images})

//- Causal Interaction
+insert_unit({unit:'201', title_slide:true, images:images})

//- The Problem
+insert_unit({unit:'211', title_slide:true, images:images})


//- extras 


//- core knowledge and categorical perception --- how related?
//- *todo* lots of useful material here
  mixin insert_unit({unit:'151', title_slide:true, images:images})n

//-
  on core knowledge:
    - first talk about knowledge of syntax?
    - principles and parameters
    - poverty of stimulus (quote from Chomsky on Skinner?)
    - not linked to consciousness, not available for introspection, ...
    - Searle's objection
    - defence: respectable notions of representation?  (Shea ideas)
    - how is this a model: it invovles a set of principles being used in an inference-like process
    - compare Spelke on principles of object perception
  
  

