---
layout: 'default2'
title: 'Lecture 02'
weburl: ''
units: []
---

include ../../fragments/slide_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})




//-
  // more on object permanence
  mixin insert_unit({unit:'101', title_slide:true, images:images})


